name: DownloadArtifact
"on":
  workflow_run:
    workflows:
      - UploadArtifact
    types:
      - completed

jobs:
  download:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: ${{ github.event.pull_request.draft == false }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Fetch release artifact
        if: github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success'
        env:
          run_id: ${{ github.event.workflow_run.id }}
        uses: actions/download-artifact@v7
        with:
          name: latest_release
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check
        if: github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success'
        run: |
          ls -l

          cat latest_release.txt
