name: UploadArtifact
"on":
  push:
    branches:
      - "master"

jobs:
  upload:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: github.actor != 'dependabot[bot]'
    env:
      release_file: "latest_release.txt"
    outputs:
      release_version: ${{ steps.semantic.outputs.new_release_version }}
      matrix: ${{ steps.result.outputs.matrix }}
    steps:
      - name: Create
        id: result
        run: |
          echo "NO_RELEASE" > ${{ env.release_file }}

      - name: Upload release file
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: latest_release
          path: ${{ env.release_file }}
