---
name: Create Release
"on":
  push:
    branches:
      - master

jobs:
  release:
    name: Release next version
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'
    env:
      semantic_version: "19.0.5"
    outputs:
      release_version: ${{ steps.semantic.outputs.new_release_version }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Install changelog-conventionalcommits
        run: npm i -D conventional-changelog-conventionalcommits

      - name: Get next Release
        uses: cycjimmy/semantic-release-action@v5
        id: semantic
        with:
          semantic_version: ${{ env.semantic_version }}
          dry_run: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: ${{ steps.semantic.outputs.new_release_version != null }}
        env:
          VERSION: ${{ steps.semantic.outputs.new_release_version }}
        with:
          tag_name: ${{ env.VERSION }}
          name: Version ${{ env.VERSION }}
          body: |
            ${{ env.VERSION }}

  update_pom:
    name: Update pom versions
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs: release
    if: ${{ github.actor != 'dependabot[bot]' && needs.release.outputs.release_version != null }}
    env:
      release_version: ${{ needs.release.outputs.release_version }}
    steps:
      - run: echo "got new release ${{ env.release_version }}"
